Repository elastic/apm-agent-android, pull requests merged in 2025-03, with the labels that each got.

#400 [docs] Fix external links
  docs/reference/supported-technologies.md
Labels: agent-mobile, agent-android, Team:Docs, community, triage

#403 [docs] Remove AsciiDoc changelog file
  CHANGELOG.asciidoc
Labels: documentation, agent-mobile, agent-android, Team:Docs, community, triage

#404 Update labeler.yml
  .github/workflows/labeler.yml
Labels: agent-mobile, agent-android, community, triage

#408 Compatibility checks
  agent-sdk/build.gradle.kts
  agent-sdk/metadata/agent-sdk.api
  agent-sdk/src/main/java/co/elastic/otel/android/extensions/ElasticOtelAgentExtensions.kt
  agent-sdk/src/main/java/co/elastic/otel/android/internal/features/conditionaldrop/ConditionalDropLogRecordExporter.kt
  agent-sdk/src/main/java/co/elastic/otel/android/internal/features/conditionaldrop/ConditionalDropManager.kt
  agent-sdk/src/main/java/co/elastic/otel/android/internal/features/conditionaldrop/ConditionalDropMetricExporter.kt
  agent-sdk/src/main/java/co/elastic/otel/android/internal/features/conditionaldrop/ConditionalDropSpanExporter.kt
  agent-sdk/src/main/java/co/elastic/otel/android/internal/time/ntp/UdpClient.kt
  agent-sdk/src/test/java/co/elastic/otel/android/functional/ElasticApmAgentTest.kt
  agent-sdk/src/test/java/co/elastic/otel/android/functional/ManagedElasticOtelAgentTest.kt
  agent-sdk/src/test/java/co/elastic/otel/android/internal/time/ntp/UdpClientTest.kt
  android_tests.sh
  build-tools/src/main/kotlin/elastic.instrumentation-library.gradle.kts
  build-tools/src/main/kotlin/elastic.instrumentation-plugin.gradle.kts
  gradle/libs.versions.toml
  instrumentation/api/src/main/java/co/elastic/otel/android/instrumentation/internal/Instrumentation.kt
  instrumentation/crash/library/src/main/java/co/elastic/otel/android/crash/internal/CrashInstrumentation.kt
  instrumentation/crash/plugin/build.gradle.kts
  instrumentation/crash/plugin/src/main/java/co/elastic/otel/android/crash/CrashInstrumentationPlugin.kt
  instrumentation/launchtime/library/src/main/java/co/elastic/otel/android/launchtime/internal/LaunchTimeInstrumentation.kt
  instrumentation/launchtime/plugin/build.gradle.kts
  instrumentation/launchtime/plugin/src/main/java/co/elastic/otel/android/launchtime/LaunchTimeInstrumentationPlugin.kt
  instrumentation/okhttp/library/src/main/java/co/elastic/otel/android/okhttp/internal/OkHttpInstrumentation.kt
  instrumentation/okhttp/plugin/build.gradle.kts
  instrumentation/okhttp/plugin/src/main/java/co/elastic/otel/android/okhttp/OkHttpInstrumentationPlugin.kt
  internal-tools/otel-test-common/build.gradle.kts
  internal-tools/otel-test-common/src/main/AndroidManifest.xml
  internal-tools/otel-test-common/src/main/java/co/elastic/otel/android/test/exporter/InMemoryExporterProvider.kt
  internal-tools/otel-test-common/src/main/java/co/elastic/otel/android/test/processor/SimpleProcessorFactory.kt
  sample-app/app/androidtest-rules.pro
  sample-app/app/build.gradle.kts
  sample-app/app/src/androidTest/java/co/elastic/otel/android/sample/OtelApisTest.kt
  sample-app/app/src/androidTest/java/co/elastic/otel/android/sample/tools/SampleAppJunitRunner.kt
  sample-app/app/src/main/java/co/elastic/otel/android/sample/MyApp.kt
  sample-app/app/src/main/java/co/elastic/otel/android/sample/ui/MainActivity.kt
  sample-app/app/test-rules.pro
  sample-app/settings.gradle.kts
  shared-rules.pro
Labels: agent-mobile, agent-android

#409 Ci updates
  .ci/release.sh
  .github/scripts/bump-minor-version/main.sh
  .github/scripts/generate-release-notes/sample.json
  .github/scripts/generate-release-notes/script.main.kts
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  .github/workflows/updateVersionBranch.yml
  agent-sdk/src/main/java/co/elastic/otel/android/internal/features/exportergate/ExporterGateManager.kt
  build-tools/src/main/java/co/elastic/otel/android/compilation/tools/publishing/ApmPublisherRootPlugin.java
  build-tools/src/main/java/co/elastic/otel/android/compilation/tools/publishing/tasks/PostDeployTask.java
  build-tools/src/main/java/co/elastic/otel/android/compilation/tools/publishing/tasks/VersionUtility.java
  docs/release-notes/index.md
Labels: agent-mobile, agent-android

#406 Docs update
  agent-sdk/metadata/agent-sdk.api
  agent-sdk/src/main/java/co/elastic/otel/android/ElasticApmAgent.kt
  docs/images/find-export-endpoint/1.png
  docs/images/find-export-endpoint/2.png
  docs/images/find-export-endpoint/3.png
  docs/images/find-export-endpoint/4.png
  docs/images/intro/distributed-tracing.png
  docs/images/opentelemetry-logo.png
  docs/images/span-visualization/1.png
  docs/images/span-visualization/2.png
  docs/images/span-visualization/3.png
  docs/reference/_snippets/tip-provide-values-from-outside.md
  docs/reference/automatic-instrumentation.md
  docs/reference/configuration.md
  docs/reference/faq.md
  docs/reference/getting-started.md
  docs/reference/how-tos.md
  docs/reference/index.md
  docs/reference/manual-instrumentation.md
  docs/reference/setup.md
  docs/reference/supported-technologies.md
  docs/reference/toc.yml
  docs/release-notes/index.md
Labels: agent-mobile, agent-android

#410 General cleanup
  agent-api/metadata/agent-api.api
  agent-api/src/main/java/co/elastic/otel/android/api/clock/ClockProvider.kt
  agent-sdk/metadata/agent-sdk.api
  agent-sdk/src/main/java/co/elastic/otel/android/ElasticApmAgent.kt
  agent-sdk/src/main/java/co/elastic/otel/android/internal/opentelemetry/ElasticOpenTelemetry.kt
  agent-sdk/src/main/java/co/elastic/otel/android/internal/opentelemetry/processors/spans/SpanInterceptorProcessor.kt
  agent-sdk/src/test/java/co/elastic/otel/android/functional/AttributesTest.kt
  gradle/instrumentation.versions.toml
  instrumentation-test/instrumentation/crash/build.gradle.kts
  instrumentation-test/instrumentation/crash/src/androidTest/java/co/elastic/otel/android/test/InstrumentationTest.kt
  instrumentation-test/instrumentation/crash/src/main/AndroidManifest.xml
  instrumentation-test/instrumentation/crash/src/main/java/co/elastic/otel/android/test/MainActivity.kt
  instrumentation-test/instrumentation/launchtime/build.gradle.kts
  instrumentation-test/instrumentation/launchtime/src/androidTest/java/co/elastic/otel/android/test/InstrumentationTest.kt
  instrumentation-test/instrumentation/launchtime/src/main/AndroidManifest.xml
  instrumentation-test/instrumentation/launchtime/src/main/java/co/elastic/otel/android/test/MainActivity.kt
  instrumentation-test/instrumentation/okhttp/src/androidTest/java/co/elastic/otel/android/test/InstrumentationTest.kt
  instrumentation/crash/library/build.gradle.kts
  instrumentation/crash/library/metadata/library.api
  instrumentation/crash/library/metadata/notice.properties
  instrumentation/crash/library/src/main/java/co/elastic/otel/android/crash/internal/CrashInstrumentation.kt
  instrumentation/crash/library/src/main/java/co/elastic/otel/android/crash/internal/handler/ElasticExceptionHandler.kt
  instrumentation/crash/library/src/main/java/co/elastic/otel/android/crash/internal/package-info.java
  instrumentation/crash/library/src/main/resources/META-INF/NOTICE
  instrumentation/crash/library/src/test/java/co/elastic/otel/android/crash/internal/handler/ElasticExceptionHandlerTest.kt
  instrumentation/crash/plugin/build.gradle.kts
  instrumentation/crash/plugin/metadata/notice.properties
  instrumentation/crash/plugin/metadata/plugin.api
  instrumentation/crash/plugin/src/main/java/co/elastic/otel/android/crash/CrashInstrumentationPlugin.kt
  instrumentation/crash/plugin/src/main/resources/META-INF/NOTICE
  instrumentation/launchtime/library/build.gradle.kts
  instrumentation/launchtime/library/metadata/library.api
  instrumentation/launchtime/library/metadata/notice.properties
  instrumentation/launchtime/library/src/main/AndroidManifest.xml
  instrumentation/launchtime/library/src/main/java/co/elastic/otel/android/launchtime/internal/LaunchTimeApplicationListener.kt
  instrumentation/launchtime/library/src/main/java/co/elastic/otel/android/launchtime/internal/LaunchTimeInitializer.kt
  instrumentation/launchtime/library/src/main/java/co/elastic/otel/android/launchtime/internal/LaunchTimeInstrumentation.kt
  instrumentation/launchtime/library/src/main/java/co/elastic/otel/android/launchtime/internal/LaunchTimeTracker.kt
  instrumentation/launchtime/library/src/main/java/co/elastic/otel/android/launchtime/internal/package-info.java
  instrumentation/launchtime/library/src/main/resources/META-INF/NOTICE
  instrumentation/launchtime/plugin/build.gradle.kts
  instrumentation/launchtime/plugin/metadata/notice.properties
  instrumentation/launchtime/plugin/metadata/plugin.api
  instrumentation/launchtime/plugin/src/main/java/co/elastic/otel/android/launchtime/LaunchTimeInstrumentationPlugin.kt
  instrumentation/launchtime/plugin/src/main/resources/META-INF/NOTICE
  sample-app/app/build.gradle.kts
  sample-app/app/src/main/java/co/elastic/otel/android/sample/MyApp.kt
  sample-app/app/test-rules.pro
Labels: agent-mobile, agent-android

#411 [docs] Miscellaneous docs clean up
  docs/docset.yml
  docs/reference/getting-started.md
  docs/reference/how-tos.md
  docs/reference/images/dynamic-config.svg
  docs/reference/images/find-export-endpoint/1.png
  docs/reference/images/find-export-endpoint/2.png
  docs/reference/images/find-export-endpoint/3.png
  docs/reference/images/find-export-endpoint/4.png
  docs/reference/images/intro/distributed-tracing.png
  docs/reference/images/opentelemetry-logo.png
  docs/reference/images/span-visualization/1.png
  docs/reference/images/span-visualization/2.png
  docs/reference/images/span-visualization/3.png
  docs/reference/index.md
  docs/release-notes/index.md
Labels: documentation, agent-mobile, agent-android, Team:Docs, community, triage

#416 [testing]Await for in memory signals
  agent-sdk/src/test/java/co/elastic/otel/android/functional/ElasticApmAgentTest.kt
Labels: agent-mobile, agent-android

#427 Prepare release changes
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  build-tools/build.gradle.kts
  build-tools/src/main/java/co/elastic/otel/android/compilation/tools/tasks/subprojects/BasePomTask.java
  build-tools/src/main/java/co/elastic/otel/android/compilation/tools/tasks/subprojects/PomLicensesCollectorTask.java
  build-tools/src/main/java/co/elastic/otel/android/compilation/tools/utils/PomReader.java
  build-tools/src/main/java/co/elastic/otel/android/compilation/tools/utils/PomReader.kt
  gradle/libs.versions.toml
  manual_licenses_map.txt
Labels: agent-mobile, agent-android
